<!DOCTYPE html>
<html>
<head>

    <style>

        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .button1 {background-color: #04AA6D;} /* Green */
        .button2 {background-color: #008CBA;} /* Blue */
        </style>

    <title>Mostafa Flask Project</title>

</head>

<body>

    <h1>  MY CS50P_2023 Final Project</h1>
    <br>

    <ul><form action="/nlp"><button class="button button1">NLP</button></form>
    <br>
    <form action="/factorial"><button class="button button1">Factorial</button></form>
    <br>
    <form action="/password"><button class="button button1">Password archive</button></form></ul>

    <br>
    <br>
    <br>
    <h4>Mostafa Piran Shendershami</h4>
</body>
</html>
