<!DOCTYPE html>
<html>
<head>
    <title>Mostafa Flask Project_NLP</title>
</head>
<body>
    <h1>NLP_Test Project</h1>
    <form action="/nlplink" method="post">

        <p><label for="text">input your text:</label></p>
        <textarea id="text" name="text_nlp" rows="4" cols="50">Write anything you want to let me know about your feelings. :)</textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <br>
    <br>
    <a href="/">Go back</a>
</body>
</html>
