<!DOCTYPE html>
<html>
<head>
    <title>Mostafa Flask Project_Password</title>
</head>
<body>
    <h1>Password Archive</h1>

    <form action="/Passwordlink" method="post">

        <h2>Add Password:</h2>
        <label for="fname1">Username:</label>
        <input type="text" id="fname1" name="un_in"><br><br>

        <label for="lname">Password:</label>
        <input type="text" id="lname" name="pas_in"><br><br>

        <input type="submit" value="Submit">

        <br>
        <br>

        <h2>View Password:</h2>
        <label for="fname2">Username:</label>
        <input type="text" id="fname2" name="un_out"><br><br>
        <input type="submit" value="Submit">

      </form>

    <br>
    <br>
    <br>
    <a href="/">Go back</a>
</body>
</html>
